* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  font-family: sans-serif;
}

section {
  height: 100vh;
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
}

section p {
  max-width: 75%;
  margin: 16px auto;
}
